@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

body {
  width: 75vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.nav-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin-left: 2rem;
}

.nav-item {
  margin: 1rem;
  color: hsl(219, 9%, 45%);
}

.user-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  position: relative;
}

.cart-card {
  height: 200px;
  width: 260px;
  position: absolute;
  left: -100%;
  top: 120%;
  border-radius: 10px;
  box-shadow: -5px 13px 28px -4px rgba(0, 0, 0, 0.66);
}

.cart-card-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  height: 20%;
  box-sizing: border-box;
  padding: 14px;
  font-size: 0.85rem;
  font-weight: 700;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart-card-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  height: 80%;
  padding: 14px;
}

.card-card-contents-empty-text {
  font-size: 0.85rem;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
}

.avatar {
  width: 3rem;
  height: 3rem;
}
.avatar:hover {
  box-sizing: border-box;
  padding: 1px;
  border-radius: 50%;
  background-color: hsl(26, 100%, 55%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5rem 3rem;
  position: relative;
}

.product-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.product-images-container img {
  border-radius: 14px;
}

.main-image {
  width: 360px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.thumbnails-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.thumbnail {
  display: block;
  height: 78px;
  width: 78px;
}

.thumbnail-wrapper {
  position: relative;
}

.selected-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid hsl(26, 100%, 55%);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.75);
}

.product-details-container {
  width: 50%;
}

.brand-name {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: hsl(219, 9%, 45%);
}

.product-name {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.product-description {
  margin-bottom: 1.3rem;
  color: hsl(219, 9%, 45%);
  line-height: 1.5rem;
}

.product-price-wrapper {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.current-price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.current-price {
  font-size: 1.75rem;
  font-weight: 700;
}

.discount {
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 0.9rem;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.regular-price {
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}

.product-buying-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 14px;
}

.quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  height: 3rem;
  width: 30%;
  border-radius: 6px;
  background-color: hsl(223, 64%, 98%);
}

.quantity-amount {
  font-weight: 700;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  height: 3rem;
  width: 50%;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  background-color: hsl(26, 100%, 55%);
  position: relative;
}
.add-to-cart-btn:hover {
  background-color: hsl(25, 100%, 94%);
}

.cart-icon {
  width: 1rem;
  height: 1rem;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}
.lightbox img {
  border-radius: 14px;
}

.active {
  display: flex;
}

.lightbox-main-image-wrapper {
  position: relative;
}

.lightbox-main-image {
  width: 450px;
  height: 450px;
  margin-bottom: 30px;
}

.lightbox-close-button {
  position: absolute;
  top: -36px;
  left: 440px;
  height: 1.35rem;
  width: 1.35rem;
  cursor: pointer;
}

.lightbox-button, .lightbox-next-button-wrapper, .lightbox-previous-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 200px;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.lightbox-previous-button-wrapper {
  left: -25px;
}

.lightbox-next-button-wrapper {
  left: 425px;
}/*# sourceMappingURL=style.css.map */